*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(235, 237, 239) !important;
}
.nav{
  padding:0px 10px !important;
border-bottom-left-radius: 30px;
border-bottom-right-radius:30px;
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba(163, 163, 166, 0.37);
-webkit-backdrop-filter: blur( 7.5px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
margin-top: -8px;
box-shadow: 0 1px 2px rgba(32, 33, 36, 0.15), 0 1px 8px rgba(32, 33, 36, 0.08);
font-weight: bold;
}
.nav-item{
  margin-left: 40px !important;
}
.nav-link{
  color: rgb(0, 0, 0) !important ;
  font-weight: 600;
  font-size: 18px;  
}
.home_con{
  width: 100%;
  background-color: #418E41;
  height: 750px;
  background-image: url("./assets/bg-hero.png");
  background-size: cover;
}
.logo{
  width:150px;
  height:auto;

  object-fit:contain;
}
.nav-link.active{
  border-bottom: 3px solid red;
}
.home_row{
  display: flex;
  justify-content: center;
  align-items: center;
  height:800px !important;
}
.home_row div h1{
  font-size: 60px;
  color: white;
  font-weight: 700;
}
.home_row div h4{
  color: white;
  margin-top: 30px;
}
.home_row button{
width:200px !important;
margin-top: 30px;
padding: 13px;
border-radius: 30px;
border: none;
font-size:23px;
color:green ;
font-weight:600;
}


.heroelement {

}
.group_img{
width: 90% !important;
height: auto;
}
.img_group{
  display: flex;
  justify-content:end !important;
  align-items:end !important;
}
/* .second_part  *********start ******* */
.second-row p{
font-size: 20px;
text-align: justify;
}
.w_img{
  width:100% !important ;
  height:400px;
  object-fit: cover;
}
/* three */
.third_row{
  margin-top: 100px;
}
.parent{
  position: relative;
}
.child-1{
  width: 270px;
  height: 90px;
  background-color: #418E41;
  border-radius: 60px;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-2{
  width: 100px;
  height:100px;
  background-color: #ffffff;
  border-radius: 60px;
  position: absolute;
  top: -6px;
  left: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-1 p{
  position: relative !important;
  left: 34px !important;
  top: 6px;
  color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 600;
}
.content{
  margin-top: 200px;
  font-size: 25px;
  text-align: justify;
}
.pils{
  border-right: 1px solid #418E41;
}
/* three-end */
/* fourth sart */
.circle{
  width: 250px;
  height: 250px;
  border:1px solid #418E41 ;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.row-data{
  display: flex;
  justify-content: space-between !important;
  margin-top: 50px;
}
.fourth{
  margin-top: 100px;
}
.b-1{
  border-right: 1px solid #418E41;
}
.fourth h1{
  color: #418E41;
  font-weight: 600;
}
.text {
  width: 259px;
  height: 65px;
  margin-top: 39px;
}
/* footer */
.footer{
  background-color:#418E41 ;
  height: auto;
  width: 100%;
  padding: 50px 0px;
}
.cover{
  width:300px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
align-items: center;
border-radius: 20px;
}
.log{
  width: 100px;
  height: auto;
}
/* about pages start */
.about{
  width: 100%;
  height:650px;
  background-image: url("./assets/aboutpage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}
.about-row{
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_page ul li{
  margin-top: 10px;
}
.beaker{
  width:420px;
  height: auto;
}
.Beaker_cover{
  display: flex;
  justify-content: end;
  align-items: end;
}
.leader div {
 width: 150px;
 height: 150px;
 border:2px solid green;
 border-radius: 50%;
}
.leader{
  gap: 200px;
  margin-top: 70px;
}
iframe{
  height: 300px;
  border-radius: 15px;
background: #e0e0e0;
box-shadow:  5px 5px 10px #d5d5d5,
             -5px -5px 10px #ebebeb;
}
.contact{
  padding: 10px 400px !important;
}
.contact-border{
  border: 2px solid #418E41;
  padding: 60px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
box-shadow:  33px 33px 66px #d5d5d5,
             -33px -33px 66px #ebebeb;
}
.contact_input input{
  margin:25px;
  border: none;
  outline: none;
  border-bottom: 1px solid #418E41;
  background-color: rgb(235, 237, 239) !important ;
}
.contact_input input::placeholder{
color: #418E41;
}
.head{
  width: 200px;
  font-size:30px;
  font-weight: 700;
}
.con{
  display: flex;
}
.footer-col{
  display: flex;
  justify-content: center;
}
.btns{
  border: 3px solid rgb(0, 0, 0);
  padding: 6px 30px !important;
  border-radius: 30px !important;
}

.imageworld{
  width: 100%;
  height: auto;
  margin: 20px;
}
.button{
  width: 100%;
  text-align: center;
  background-color: #06a9b2;
}
.text-sign{
  font-size: 12px;
  text-align: center;
  border: none;
}
.box-containe{
  border-radius: 18px;
background: #e0e0e0;
box-shadow:  9px 9px 18px #cacaca,
             -9px -9px 18px #f6f6f6;
  padding: 80px;
  margin: 80px 0px;
}
.form-data{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 300px !important;
  margin-top: 100px  !important;
}